<h1>Listing Bands</h1>
<%= link_to 'List of songs', band_songindex_path %>
<%= form_tag band_index_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
  </p>
<% end %>
<%= link_to 'Add a band', new_band_path %>
<br>
<br>
<% if @bandlist == 1 %>
<strong>no bands matched your input</strong>
<% elsif @bandlist == 0 %>
<strong>the following bands matched your input</strong>
<% else %>
<% end %>
<table cellspacing="8px">
  
  <% @foundband.each do |b| %>
    <tr height="30px">
      <td valign="bottom" width="100px"><strong><%= b.title %></strong></td>
	  <td valign="bottom"><%= link_to 'Show Band', band_path(b) %></td>
	  <td><%= render b.songs %></td>
	
    </tr>
  <% end %>
</table>
<br><br>

<% if @songlist == 1 %>
	<strong>no songs matched your input</strong>

	<% elsif @songlist == 2 %>

<% else %>
<strong>The following songs matched your input</strong>
<table cellspacing="5 px">
  <tr>
    <th align="left">Song</th>
    <th align="left">Link</th>
	<th colspan="2"></th>
  </tr>
<tr>
 <% @songs.each do |s| %>
 
<tr>
<td>	<%= s.title %> </td>
<td>	<%= link_to 'link', s.link, :target => "_blank" %> </td>
</tr>

<% end %>
<% end %>
