<p>
  <h1><%= @band.title %></h1>
</p>
 
<%= form_tag band_path, method: :get do %>
  <p>
    <%= text_field_tag :searchband, params[:searchband] %>
	<%= submit_tag "Search Song" %>
  </p>
<% end %>
 
<h2>Songs</h2>
<table cellspacing="5 px">
  <tr>
    <th align="left">Song</th>
    <th align="left">Link</th>
	<th colspan="2"></th>
  </tr>
<tr>
 <% @songs.each do |s| %>
 
<tr>
<td>	<%= s.title %> </td>
<td>	<%= link_to 'link', s.link, :target => "_blank" %> </td>
</tr>

<% end %>



</table>

<h2>Add a song:</h2>
<%= render "songs/form" %>

<%= link_to 'Back', band_index_path %>
