<h1>Listing Songs</h1>
<%= link_to 'Bands', band_index_path %>

<%= form_tag band_songindex_path, method: :get do %>
  <p>
    <%= text_field_tag :searchsong, params[:searchsong] %>
	<%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h2>Songs</h2>
<table cellspacing="5 px">
  <tr>
    <th align="left">Song</th>
    <th align="left">Link</th>
	<th colspan="2"></th>
  </tr>
<tr>
 <% @songs.each do |s| %>
 
<tr>
<td>	<%= s.title %> </td>
<td>	<%= link_to 'link', s.link, :target => "_blank" %> </td>
</tr>

<% end %>



</table>